<section class="page-wrap account-page-section"> <!-- START PAGE WRAP -->
    <div class="container">
        <div class="section-content">

            <!-- ACCOUNT PAGE CONTENT-->

            <div class="account-page display-flex">
                <div class="account-page__navigation">
                    {% include "customer-menu", active_menu: 'account' %}
                </div>
                <div class="account-page__content">
                    <div class="account-information">
                        <div class="account-page-heading">
                            Account Information
                        </div>
                        <div class="account-information__wrap">
                            <div class="info-wrap">
                                <div class="info-row" id="show_first_name">
                                    <div class="field-name">First Name</div>
                                    <div class="field-value" id="field_placeholder_first_name">{{ customer.first_name }}</div>
                                    <div class="field-edit" onclick="editPersonalInfo('first_name')">EDIT</div>
                                </div>

                                <div class="info-row" id="edit_first_name" style="display: none">
                                    <div class="field-name">First Name</div>
                                    <div class="field-value"><input type="text" id="field_first_name" class="input-field" value="{{ customer.first_name }}"></div>
                                    <div class="field-edit"  onclick="savePersonalInfo('first_name')">SAVE</div>
                                </div>

                                <div class="info-row" id="show_last_name">
                                    <div class="field-name">Last Name</div>
                                    <div class="field-value" id="field_placeholder_last_name">{{ customer.last_name }}</div>
                                    <div class="field-edit" onclick="editPersonalInfo('last_name')">EDIT</div>
                                </div>

                                <div class="info-row" id="edit_last_name" style="display: none">
                                    <div class="field-name">Last Name</div>
                                    <div class="field-value"><input type="text" id="field_last_name" class="input-field" value="{{ customer.last_name }}"></div>
                                    <div class="field-edit"  onclick="savePersonalInfo('last_name')">SAVE</div>
                                </div>

                                <div class="info-row" id="show_email">
                                    <div class="field-name">Email</div>
                                    <div class="field-value" id="field_placeholder_email">{{ customer.email }}</div>
                                    <div class="field-edit" onclick="editPersonalInfo('email')">EDIT</div>
                                </div>

                                <div class="info-row" id="edit_email" style="display: none">
                                    <div class="field-name">Email</div>
                                    <div class="field-value"><input type="text" id="field_email" class="input-field" value="{{ customer.email }}"></div>
                                    <div class="field-edit"  onclick="savePersonalInfo('email')">SAVE</div>
                                </div>

                                <div class="info-row">
                                    <div class="field-name">Password</div>
                                    <div class="field-value password">•••••••••</div>
                                    <div class="field-edit" onclick="document.location.href='/account/login#recover'">RESET</div>
                                </div>
                            </div>
                            <div class="account-address">
                                <div class="content-block address-block">
                                    <div class="add-new-address" id="add_new_address" class="account-info-form" data-form-id="add-address">ADD NEW</div>
                                    <div class="account-page-heading">Address Book</div>
                                    <div class="message-wrap success" style="display: none;">Changes saved successfully.</div>
        
                                    <!-- ADD NEW ADDRESS  -->
                                    <div class="edit-address-form" id="AddAddress" style="display: none;">
                                        {% form 'customer_address', customer.new_address %}
        
                                            <div class="login-error form-i-error"></div>
        
                                            <div class="display-flex">
                                                <div class="input-field">
                                                    <label for="">First Name</label>
                                                    <input type="text"  id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" />
                                                </div>
                                                <div class="input-field">
                                                    <label for="">Last Name</label>
                                                    <input type="text"  id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words" />
                                                </div>
                                            </div>
        
                                            <div class="display-flex">
                                                <div class="input-field">
                                                    <label for="">Company Name (Optional)</label>
                                                    <input type="text"   name="address[company]" value="{{ form.company }}" autocapitalize="words" />
                                                </div>
                                                <div class="input-field">
                                                    <label for="">Phone Number</label>
                                                    <input type="text"   name="address[phone]" value="{{ form.phone }}" autocapitalize="words" />
                                                </div>
                                            </div>
        
                                            <div class="display-flex">
                                                <div class="input-field">
                                                    <label for="">Address Line 1</label>
                                                    <input type="text"  id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words" />
                                                </div>
                                                <div class="input-field">
                                                    <label for="">Address Line 2</label>
                                                    <input type="text"  id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words" />
                                                </div>
                                            </div>
        
                                            <div class="display-flex">
                                                <div class="input-field">
                                                    <label for="">City</label>
                                                    <input type="text"  id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocapitalize="words" />
                                                </div>
                                                <div class="input-field">
                                                    <label for="">Country</label>
                                                    <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">
                                                        {{ all_country_option_tags }}
                                                    </select>
                                                </div>
                                            </div>
        
                                            <div class="display-flex">
                                                <div class="input-field">
                                                    <label for="">State</label>
                                                    <input type="text"  id="AddressStateNew" name="address[province]" value="{{ form.province }}" />
                                                </div>
        
                                                <div class="input-field">
                                                    <label for="">Zip/Postal Code</label>
                                                    <input type="text"  id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" />
                                                </div>
                                            </div>
        
                                            <div class="display-flex bottom-row">
                                                <div class="input-field checkbox-field">
                                                    <label for="address_default_address_{{ form.id }}">Make Default</label>
                                                    <input class="input-checkbox" type="checkbox"  id="address_default_address_{{ form.id }}" name="address[default]" />
                                                    <div class="custom-checkbox"></div>
                                                </div>
                                                <div class="input-field buttons-wrap">
                                                    <div class="cancel-btn" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">CANCEL</div>
                                                    <input type="submit" value="ADD">
                                                </div>
                                            </div>
                                        {% endform %}
                                    </div>
                                    <!-- END NEW ADDRESS  -->
        
                                    {% for address in customer.addresses %}
                                        <!-- EDIT ADDRRESS -->
                                        <div class="edit-address-form" id="EditAddress_{{ address.id }}" style="display: none;">
                                            {% form 'customer_address', address %}
                                                <div class="login-error form-i-error"></div>
        
                                                <div class="display-flex">
                                                    <div class="input-field">
                                                        <label for="">First Name</label>
                                                        <input type="text"  id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" />
                                                    </div>
                                                    <div class="input-field">
                                                        <label for="">Last Name</label>
                                                        <input type="text"  id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words" />
                                                    </div>
                                                </div>
        
                                                <div class="display-flex">
                                                    <div class="input-field">
                                                        <label for="">Company Name (Optional)</label>
                                                        <input type="text"   name="address[company]" value="{{ form.company }}" autocapitalize="words" />
                                                    </div>
                                                    <div class="input-field">
                                                        <label for="">Phone Number</label>
                                                        <input type="text"   name="address[phone]" value="{{ form.phone }}" autocapitalize="words" />
                                                    </div>
                                                </div>
        
                                                <div class="display-flex">
                                                    <div class="input-field">
                                                        <label for="">Address Line 1</label>
                                                        <input type="text"  id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words" />
                                                    </div>
                                                    <div class="input-field">
                                                        <label for="">Address Line 2</label>
                                                        <input type="text"  id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words" />
                                                    </div>
                                                </div>
        
                                                <div class="display-flex">
                                                    <div class="input-field">
                                                        <label for="">City</label>
                                                        <input type="text"  id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocapitalize="words" />
                                                    </div>
                                                    <div class="input-field">
                                                        <label for="">Country</label>
                                                        <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">
                                                            {{ all_country_option_tags }}
                                                        </select>
                                                    </div>
                                                </div>
        
                                                <div class="display-flex">
                                                    <div class="input-field">
                                                        <label for="">State</label>
                                                        <input type="text"  id="AddressStateNew" name="address[province]" value="{{ form.province }}" />
                                                    </div>
        
                                                    <div class="input-field">
                                                        <label for="">Zip/Postal Code</label>
                                                        <input type="text"  id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" />
                                                    </div>
                                                </div>
        
                                                <div class="display-flex bottom-row">
                                                    <div class="input-field checkbox-field">
                                                        <label for="address_default_address_{{ form.id }}">Make Default</label>
                                                        <input class="input-checkbox" type="checkbox"  id="address_default_address_{{ form.id }}" name="address[default]" {% if address.id == customer.default_address.id %}value="1" checked{% endif %}>
                                                        <div class="custom-checkbox"></div>
                                                    </div>
                                                    <div class="input-field buttons-wrap">
                                                        <div class="cancel-btn" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">CANCEL</div>
                                                        <input type="submit" value="SAVE">
                                                    </div>
                                                </div>
                                            {% endform %}
                                        </div>
                                        <!-- END EDIT ADDRRESS -->
        
                                        <div class="address-wrap">
                                            <div class="address-name">
                                                {% if address ==  customer.default_address  %}
                                                    DEFAULT
                                                {% endif %}
                                            </div>
                                            <div class="display-flex">
                                                <div class="column address">
                                                    <span>{{ address.first_name }} {{ address.last_name }}</span>
                                                    <span>{{ address.street }}</span>
                                                    <span>{{ address.company }}</span>
                                                    <span>{{ address.phone }}</span>
                                                    <span>{{ address.city }}, {% if address.province != blank %}{{ address.province }},{% endif %} {{ address.zip | upcase }}</span>
                                                    <span>{{ address.country }}</span>
                                                </div>
                                                <div class="column action-btn">
                                                    <div class="action-btn edit">{{ "Edit" | edit_customer_address_link: address.id }}</div>
                                                    <div class="action-btn edit">
                                                        <form id="delete_address_from_{{ address.id }}" class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}">
                                                            <input type="hidden" name="_method" value="delete">
                                                        </form>
                                                        <a href="javascript:void(0);" onclick="deleteCustomerAddress({{ address.id }})">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END ACCOUNT PAGE CONTENT-->

        </div>
    </div>
</section> <!-- END PAGE WRAP -->

<script>

    // Initialize observers on address selectors


    // Setup province selector on each customer address
    {% paginate customer.addresses by 5 %}
    {% for address in customer.addresses %}
        new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
            hideElement: 'AddressProvinceContainer_{{ address.id }}'}
        );
    {% endfor %}
    {% endpaginate %}


</script>

