<a href="{{ section.settings.link_url }}">
    {% if section.settings.image_url != blank %}
        <div class="image-wrap desktop-image">
            <img class="main-image lazyload" src="{{ section.settings.image_url | img_url: "10x" }}" alt="{{ block.settings.title | escape }}"
                data-src="{{ section.settings.image_url | img_url: '1920x' }}"
                data-widths="[1920]"
                data-sizes="auto"
                tabindex="-1"
            />
        </div>  
    {% endif %}
    {% if section.settings.image_url_mobile != blank %}
        <div class="image-wrap mobile-image">
            <img class="main-image lazyload" src="{{ section.settings.image_url_mobile | img_url: "10x" }}" alt="{{ block.settings.title | escape }}"
                data-src="{{ section.settings.image_url_mobile | img_url: '1920x' }}"
                data-widths="[1920]"
                data-sizes="auto"
                tabindex="-1"
            />
        </div>   
    {% endif %}                         
</a>

{% schema %}
    {
        "name": "Big banner",
        "tag": "section",
        "class": "big-banner",
        "settings": [
            {
                "type": "url",
                "id": "link_url",
                "label": "Link url"
            },
            {
                "type": "image_picker",
                "id": "image_url",
                "label": "Banner desktop"
            },
            {
                "type": "image_picker",
                "id": "image_url_mobile",
                "label": "Banner mobile"
            }
        ],
        "presets": [
            {
                "name": "Big banner"
            }
        ]
    }
{% endschema %}