<div class="container">
    <div class="section-title">{{ section.settings.title }}</div>
    <div class="columns display-flex">
        {% for block in section.blocks %}
            <div class="column">
                <div class="image-wrap">
                    <img src="{{ block.settings.image_preview | img_url: 'master' }}" alt="">
                </div>
                <div class="footer">
                    <a href="{{ block.settings.link }}">
                        <span>{{ block.settings.title }}</span>
                        <span>{{ block.settings.price }}</span>
                    </a>
                </div>
            </div>            
        {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "Shop filter",
        "tag": "section",
        "class": "shop-filter",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "blocks":[
            {
                "name": "Filter",
                "type": "filter",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image_preview",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "price",
                        "label": "Price"
                    },
                    {
                        "type": "text",
                        "id": "link",
                        "label": "Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Shop filter"
            }
        ]
    }
{% endschema %}